.link-landingHeader-Button{
    display: flex;
    width: 20%;
}

.landingHeader-Button{
    padding: 10px 10px;
    font-size: 20px;
    @include landingButtons;
}

.landingHeader-Button:hover{
    background: #97D7C7;
}