.add-board{
    width: 256px;
    height: 128px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-lighter);
    border-radius: var(--round);
    cursor: pointer;
    
}

.add-board:hover{
    background-color: var(--primary-light);
}

.add-board-label{
    color: var(--black);
    font-weight: 400;
}

.add-board-form{
    display: flex;
    flex-direction: column;
    width: 256px;
    height: 128px;
    justify-content: center;
    gap: 12px;
}

.add-board-input{
    padding: 6px 12px;
    font-size: 16px;
    border: 1px solid var(--black);
    border-radius: var(--round);
    background-color: white;
    color: var(--black);
}

input[type=text]:focus{
    outline: none;
}


.add-board-button{
    background-color: var(--secondary);
    border: none;
    border-radius: var(--round);
    cursor: pointer;
    padding: 12px 6px;
    font-weight: 700;
    color: white;

}

.add-board-button:hover{
    background-color: var(--secondary-dark);
}