.board-tile{
    width: 256px;
    height: 128px;
    background-color: var(--secondary);
    border-radius: var(--round);
    cursor: pointer;
}

.board-tile:hover{
    background-color: var(--secondary-dark);
}

.board-tile-header{
    padding: 32px;
    display: flex;
    align-items: center;
    gap: 10px;
    
}

.board-tile-footer{
    display: flex;
    padding-right: 32px;
    justify-content: end;
    a{
        color: var(--red-delete);
        font-size: 12px;
    }
    a:hover{
        text-decoration: underline;
    }
}

.board-mark-button{
    cursor: pointer;
    svg{
        color: white;
    }
}


.board-mark-button-marked{
    svg{
        color: var(--marked);
    }
}


.board-name{
    font-size: 20px;
    color: white;
}