.navOption-notification{
    position: relative;
    @media (max-width: 480px) {
        display: none;
      }
}

.navOption-notificationA{
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 18px;
}