@mixin landingButtons (){
    background: #BAC948;
    border: 1px solid #E2D469;
    border-radius: 5px;
    color: white;
    cursor: pointer;      
}

@mixin  dashboardButton-a () {
    position: relative;
    display: flex;
    align-items: center;
    padding: 6px 12px;
    border-radius: var(--round);
    cursor: pointer;    
}