@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    // fonts
    --font-default: 'Roboto', sans-serif;
    
    // colors
    --primary: #59A7A7;
    --primary-dark: #044D4D;
    --primary-light: #D5EAEA;
    --secondary: #A2BDE8;
    --secondary-dark: #7391C0;
    --black: #034C4C;

}