@import url('https://fonts.googleapis.com/css2?family=Radio+Canada:wght@400;700&display=swap');

*{    
    font-family: 'Radio Canada', sans-serif;    
}

body{    
    color: #044D4D;
    background: rgb(162,189,232);
    background: linear-gradient(180deg, rgb(210, 227, 255) 0%, rgba(235,255,255,1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}