@import url("https://fonts.googleapis.com/css2?family=Radio+Canada:wght@400;700&display=swap");

* {
  font-family: "Radio Canada", sans-serif;
  padding: 0;
  margin: 0;
}

body {
  background: rgb(162, 189, 232);
  background: linear-gradient(
    180deg,
    rgb(210, 227, 255) 0%,
    rgba(235, 255, 255, 1) 100%
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.linkSites1 {
  text-decoration: none;
}

.linkSites1:hover {
  color: rgb(0, 165, 110);
}

.linkSites2 {
  text-decoration: none;
  margin-top: 30px;
}

.linkSites2:hover {
  color: rgb(0, 165, 110);
}

button {
  cursor: pointer;
}

.loginContainer {
  display: flex;
  justify-content: center;
  margin-top: 48px;

  .loginMain {
    height: 632.48px;
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .loginContainerRegister {
      height: 560.34px;
      width: 400px;
      background-color: #ffffff;
      display: flex;
      align-items: center;
      flex-direction: column;
      padding: 24px 48px;
      justify-content: flex-start;

      .loginTextCreateAccount {
        background-color: #ffffff;
        color: #6c757d;
        font-size: 1.25rem;
        font-weight: 700;
        margin-bottom: 48px;
      }
      .loginForm {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #6c757d;
        height: 380px;
        justify-content: space-around;
        border-bottom: 1px solid #e5e5e5;
        padding-bottom: 20px;
      }
      .loginForm > small {
        font-size: 12.8px;
        text-align: justify;
      }
      .loginForm > input {
        width: 302px;
        height: 38px;
        box-shadow: none;
        border: 1px solid whitesmoke;
        font-size: 16px;
        padding-left: 10px;
      }
    }
  }
}
