.add-card-form{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.add-card-input{
    color: var(--black);
    font-size: 16px;
    font-weight: 700;
    border-style: none;
    background: none;
    font-size: 16px;
}
.add-card-button{
    color: white;
    font-size: 16px;
    font-weight: 700;
    background-color: var(--primary);
    width: 24px;
    height: 24px;
    border-radius: var(--round);
    border: none;
}