.playground-grid{
    display: flex;
    align-items: flex-start;
    gap: 32px;
    margin: 32px 16px;
    overflow-x: auto;
    height: 75vh;

}

::-webkit-scrollbar{
    height: 4px;
    width: 4px;
    background: gray;
    border-radius: 2px;

}
::-webkit-scrollbar-thumb:horizontal{
    background: #fff;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:vertical{
    background: #fff;
    border-radius: 10px;
}

* {
    box-sizing: border-box;
  }

