.tools-bar{
    display: flex;
    padding: 16px 12px;
    align-items: center;
    gap: 10px;
}

.tools-boardName{
    
    color: white;
    display: flex;
    align-items: center;
    padding: 6px 12px;
    text-align: center;
    width: fit-content;
    min-width: 100px;
}

.tools-boardName:focus-within{
    border: 1px solid white;
    background-color: var(--transparent);
    border-radius: 4px;
}
.tools-boardName input[type=text]{
    color: white;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    border-style: none;
    background: none;
    font-size: 16px;
    min-width: 100px;
}

.tools-boardName input[type=text]:focus{
    outline: none;
    font-size: 16px;
}



.tools-boardName input:focus::placeholder{
    font-size: 16px;
    color: white;
}

.tools-button-fav{
    background-color: var(--transparent);
    padding: 6px;
    border-radius: 4px;
    cursor: pointer;
    svg{
        color: white;
    }
    svg:hover{
        color: var(--marked)
    }
}

.tools-button-fav:hover{
    background-color: white;
}

.tools-button-add{
    background-color: white;
    color: var(--black);
    padding: 6px 12px;
    border-radius: 4px;
    display: flex;
    gap: 10px;
    cursor: pointer;
}

.tools-button-add:hover{
    background-color: var(--primary-light);
}

.tools-button-filter{
    background-color: var(--transparent);
    color: white;
}

.tools-button-filter:hover{
    background-color: white;
    color: var(--black);
}

.tools-button-more{
    cursor: pointer;
    svg{
        color: white;
    }
}
