.loginForm > button {
  width: 302px;
  height: 38px;
  border: 1px solid rgb(227, 226, 226);
  font-size: 16px;
  border-radius: 10px;
}

.loginButton1:hover {
  background-color: rgb(0, 129, 129) !important;
}

.loginButton2:hover {
  background-color: rgb(227, 226, 226) !important;
}
