.inputForm {
  width: 302px;
  height: 38px;
  box-shadow: none;
  border: 1px solid whitesmoke;
  font-size: 16px;
  padding-left: 10px;
  margin: 5px;
  @media (max-width: 768px) {
    width: 180px;
    font-size: 12px;
  }

}

.inputForm:invalid ~ .inputForm-span{
  display: block;
}

.inputForm-span{
  font-size: 12px;
  padding: 3px;
  color: red;
  display: none;
}